$font-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
$margin-inline: 130px;
$margin-inline-md: 50px;
$margin-inline-sm: 20px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
a,
li,
ul,
ol,
button,
input,
textarea,
blockquote,
table {
  font-family: "Oswald", sans-serif;
  color: #fff;
}

// SEZNAM AKCÍ
.events {
  background-image: url("../assets/booking-bg.webp");
  padding-inline: $margin-inline;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;

  @media screen and (max-width: 1080px) {
    padding-inline: $margin-inline-md;
  }

  @media screen and (max-width: 590px) {
    padding-inline: $margin-inline-sm;
  }
}

.events__back {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-top: 50px;
    text-decoration: none;
    filter: drop-shadow($font-shadow);
    
    &:hover {
        text-decoration: underline;
    }
}

.events__heading {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 50px;
  color: #0D4551;

  @media screen and (max-width: 1280px) {
    font-size: 50px;
  }

  @media screen and (max-width: 768px) {
    align-self: center;
  }
}

.events__table {
  width: 100%;
  border-collapse: collapse;
  font-size: 36px;
  text-align: left;
  color: #fff;
  font-weight: 300;

  @media screen and (max-width: 1280px) {
    font-size: 24px;
  }
}

.events__thead {
    background-color: #0D4551;
}

.events__header {
  padding: 10px 15px;
  font-weight: 500;
}

.events__cell {
  padding: 10px 15px;

  &--bold {
    font-weight: 500;
  }
}

.events__row:nth-child(even) {
  background-color: hsla(191, 72%, 18%, 0.80);
}

.events__row:nth-child(odd) {
  background-color: hsla(191, 72%, 18%, 0.60);
}

.events__tbody {
  .events__row:hover {
    background-color: hsla(191, 72%, 18%, 0.40);
  }
}

@media screen and (max-width: 768px) {
  .events__table,
  .events__thead,
  .events__tbody,
  .events__header,
  .events__cell,
  .events__row {
    display: block;
  }

  .events__thead {
    display: none;
  }

  .events__row {
    margin: 0 0 1rem 0;
  }

  .events__cell {
    border: none;
    border-bottom: 1px dotted #fff;
    position: relative;
    padding-left: 50%;
    text-align: right;

    &:first-child {
      padding-left: 0;
    }
  }

  .events__cell:not(:first-child):before {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(50% - 20px);
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    text-align: left;
    font-weight: 500;
  }
}

.events__button {
  background-color: #bf5841;
  border: 3px solid #fff;
  border-radius: 20px;
  color: #fff;
  font-size: 46px;
  font-weight: 500;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  text-transform: uppercase;
  align-self: flex-end;
  margin-top: 50px;
  padding: 10px 20px;
  text-decoration: none;

  &:hover {
    background-color: #fff;
    color: #bf5841;
    transition: 300ms ease;
  }

  &:active {
    transform: scale(0.95);
  }

  @media screen and (max-width: 1280px) {
    font-size: 30px;
  }

  @media screen and (max-width: 768px) {
    align-self: center;
    font-size: 24px;
  }
}
