* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin-inline: auto;
  background-color: #d8f8ff;
}

button {
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
button,
input,
textarea,
blockquote,
table {
  font-family: "Oswald", sans-serif;
  color: #fff;
}

.nav {
  position: fixed;
  display: flex;
  width: 100%;
  max-width: 1920px;
  justify-content: space-between;
  z-index: 9;
  padding-top: 2rem;
  padding-inline: 2rem;
}
@media screen and (max-width: 568px) {
  .nav {
    padding-top: 1rem;
    padding-inline: 1rem;
  }
}

.nav__logo {
  background-image: url("../assets/logo.svg");
  width: 68px;
  height: 72px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav__logo:hover {
  background-image: url("../assets/logo-hover.svg");
}
@media screen and (max-width: 568px) {
  .nav__logo {
    left: 20px;
  }
}

.nav__hamburger {
  width: 50px;
  height: 50px;
  background-color: transparent;
  top: 36px;
  right: 55px;
  z-index: 9;
  cursor: pointer;
  transform: rotate(360deg);
  transition: 150ms ease;
}
.nav__hamburger.close {
  transform: rotate(0deg);
  transition: 0ms;
}
@media screen and (max-width: 568px) {
  .nav__hamburger {
    right: 20px;
  }
}

.hamburger__line {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  margin: 10px 0;
  border-radius: 20px;
}
.hamburger__line.line-one.close {
  transform: rotate(45deg);
  transform-origin: 7px 0;
  transition: 150ms ease;
}
.hamburger__line.line-two.close {
  background-color: transparent;
}
.hamburger__line.line-three.close {
  transform: rotate(-45deg);
  transform-origin: 0 0;
  transition: 150ms ease;
}

.nav__menu {
  position: absolute;
  top: 0;
  right: -100%;
  height: 100vh;
  transition: 300ms ease;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  padding-top: 20vh;
}
@media screen and (min-width: 1920px) {
  .nav__menu {
    right: 0;
    display: none;
  }
}
@media screen and (max-width: 568px) {
  .nav__menu {
    width: 100%;
  }
}
.nav__menu.open {
  display: block;
  right: 0;
  background-color: rgba(0, 0, 0, 0.089);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 8;
  transition: 150ms ease;
}

.menu__nav-link {
  font-size: 38px;
  font-weight: 300;
  cursor: pointer;
  margin-right: 50px;
  text-decoration: none;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.menu__nav-link:hover {
  text-decoration: underline;
}
@media (max-height: 500px) and (orientation: landscape) {
  .menu__nav-link {
    font-size: 24px;
  }
}

.header {
  min-height: 100vh;
  background-image: url("../assets/header-bg-xxl.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 130px;
  position: relative;
}
@media (min-aspect-ratio: 154/100) and (max-aspect-ratio: 172/100) {
  .header {
    background-image: url("../assets/header-bg-xl.webp");
  }
}
@media (min-aspect-ratio: 95/100) and (max-aspect-ratio: 154/100) {
  .header {
    background-image: url("../assets/header-bg-lg.webp");
  }
}
@media (min-aspect-ratio: 60/100) and (max-aspect-ratio: 95/100) {
  .header {
    background-image: url("../assets/header-bg-md.webp");
  }
}
@media (max-aspect-ratio: 60/100) {
  .header {
    background-image: url("../assets/header-bg-sm.webp");
  }
}

.header__title {
  font-size: 110px;
  font-weight: 700;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  padding-top: 21%;
  padding-bottom: 10%;
}
@media (min-aspect-ratio: 154/100) and (max-aspect-ratio: 172/100) {
  .header__title {
    font-size: 90px;
  }
}
@media (min-aspect-ratio: 95/100) and (max-aspect-ratio: 154/100) {
  .header__title {
    padding-top: 30%;
    font-size: 70px;
  }
}
@media (min-aspect-ratio: 60/100) and (max-aspect-ratio: 95/100) {
  .header__title {
    font-size: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding-bottom: 20%;
  }
}
@media (max-aspect-ratio: 60/100) {
  .header__title {
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding-bottom: 35%;
  }
}
@media (max-height: 500px) and (orientation: landscape) {
  .header__title {
    font-size: 50px;
  }
}

.quote {
  text-align: center;
  padding: 130px;
  background-image: url("../assets/orange-bg.webp");
  font-size: 64px;
  font-weight: 300;
}
@media screen and (max-width: 1280px) {
  .quote {
    font-size: 48px;
  }
}
@media screen and (max-width: 1080px) {
  .quote {
    padding: 50px;
  }
}
@media screen and (max-width: 590px) {
  .quote {
    font-size: 32px;
    padding-inline: 20px;
  }
}

.quote__author {
  margin-top: 10px;
}

.meditation {
  background-image: url("../assets/bonfire.webp");
  background-size: contain;
  background-repeat: repeat;
  background-position: center right;
}
@media screen and (max-width: 1280px) {
  .meditation {
    background-image: none;
  }
}

.meditation-container {
  background-image: url("../assets/blue-bg.webp");
  width: 60%;
  padding-inline: 130px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top-right-radius: 85px;
  border-bottom-right-radius: 85px;
  position: relative;
  min-height: 842px;
}
@media screen and (max-width: 1280px) {
  .meditation-container {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
@media screen and (max-width: 1080px) {
  .meditation-container {
    padding-inline: 50px;
  }
}
@media screen and (max-width: 590px) {
  .meditation-container {
    padding-inline: 20px;
  }
}

.meditation-header {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media screen and (max-width: 1280px) {
  .meditation-header {
    font-size: 50px;
  }
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: -moz-fit-content;
  height: fit-content;
}

.carousel-header {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 8px;
}
@media screen and (max-width: 1280px) {
  .carousel-header {
    font-size: 24px;
  }
}

.carousel-text {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
}
@media screen and (max-width: 1280px) {
  .carousel-text {
    font-size: 18px;
  }
}

.carousel-hr {
  color: #fff;
  background-color: #fff;
  height: 3px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.carousel-slide {
  min-width: 100%;
}

.carousel-button {
  height: 83px;
  width: 21px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 10px;
  cursor: pointer;
  right: 30px;
  background-color: transparent;
  background-image: url("../assets/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 300ms ease;
}
.carousel-button.prev {
  background-image: url("../assets/arrow-left.svg");
}
.carousel-button:hover {
  transform: translateY(-50%) scale(1.4);
}

.meditation-image {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../assets/orange-bg.webp");
}
.meditation-image .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1280px) {
  .meditation-image {
    display: none;
  }
}

.accordion {
  width: 100%;
  font-size: 20px;
}

.accordion-item {
  margin-bottom: 20px;
  border-radius: 30px;
}

.accordion-header {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
  background-color: #0d4551;
  border-bottom: 3px solid #ddd;
  border-top-right-radius: 30px;
}
.accordion-header:hover {
  background-color: rgba(4, 30, 36, 0.7058823529);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #0d4551;
  font-weight: 300;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.accordion-content p {
  padding: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1280px) {
  .accordion-content p {
    font-size: 18px;
  }
}

.events {
  background-image: url("../assets/orange-bg.webp");
  padding-inline: 130px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 1080px) {
  .events {
    padding-inline: 50px;
  }
}
@media screen and (max-width: 590px) {
  .events {
    padding-inline: 20px;
  }
}

.events__heading {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 1280px) {
  .events__heading {
    font-size: 50px;
  }
}

.events__table {
  width: 100%;
  border-collapse: collapse;
  font-size: 36px;
  text-align: left;
  color: #fff;
  font-weight: 300;
}
@media screen and (max-width: 1280px) {
  .events__table {
    font-size: 24px;
  }
}

.events__header {
  padding: 10px 15px;
  font-weight: 500;
}
.events__header--hide {
  opacity: 0;
}

.events__cell {
  padding: 10px 15px;
}
.events__cell--bold {
  font-weight: 500;
}

.events__row:not(:last-child) {
  border-bottom: 3px solid #fff;
}

.events__tbody .events__row:hover {
  background-color: rgba(241, 241, 241, 0.3098039216);
}
@media screen and (max-width: 768px) {
  .events__tbody .events__row:hover {
    background-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  .events__table, .events__thead, .events__tbody, .events__header, .events__cell, .events__row {
    display: block;
  }
  .events__thead {
    display: none;
  }
  .events__row {
    margin: 0 0 1rem 0;
  }
  .events__cell {
    border: none;
    border-bottom: 1px dotted #fff;
    position: relative;
    padding-left: 50%;
    text-align: right;
  }
  .events__cell:first-child {
    padding-left: 0;
  }
  .events__cell:not(:first-child):before {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(50% - 20px);
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    text-align: left;
    font-weight: 500;
  }
}
.events__button {
  background-color: #BF5841;
  border: 3px solid #fff;
  border-radius: 20px;
  color: #fff;
  font-size: 46px;
  font-weight: 500;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  text-transform: uppercase;
  align-self: flex-end;
  margin-top: 50px;
  padding: 10px 20px;
}
.events__button:hover {
  background-color: #fff;
  color: #BF5841;
  transition: 300ms ease;
}
.events__button:active {
  transform: scale(0.95);
}
@media screen and (max-width: 1280px) {
  .events__button {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .events__button {
    align-self: center;
    font-size: 24px;
  }
}

.about {
  background-image: url("../assets/vrata-xxl.webp");
  background-size: cover;
}
@media screen and (max-width: 1280px) {
  .about {
    background-image: none;
  }
}

.about__container {
  background-image: url("../assets/blue-bg.webp");
  width: 50%;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-inline: 130px;
  border-top-left-radius: 85px;
  border-bottom-left-radius: 85px;
}
@media screen and (max-width: 1280px) {
  .about__container {
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
@media screen and (max-width: 1080px) {
  .about__container {
    padding: 50px;
  }
}
@media screen and (max-width: 590px) {
  .about__container {
    padding-inline: 20px;
  }
}

.about__picture {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../assets/orange-bg.webp");
}
.about__picture .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1281px) {
  .about__picture {
    display: none;
  }
}

.about__header {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media screen and (max-width: 1280px) {
  .about__header {
    font-size: 50px;
  }
}

.about__text {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
}
@media screen and (max-width: 1280px) {
  .about__text {
    font-size: 18px;
  }
}

.footer {
  background-image: url("../assets/blue-bg.webp");
  padding-inline: 130px;
  padding-bottom: 50px;
  padding-top: 50px;
}
@media screen and (max-width: 1080px) {
  .footer {
    padding: 50px;
  }
}
@media screen and (max-width: 590px) {
  .footer {
    padding-inline: 20px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 940px) {
  .footer__container {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 590px) {
  .footer__container {
    align-items: center;
  }
}

.footer__credits {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 940px) {
  .footer__credits {
    align-items: center;
  }
}

.footer__credit {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
}
@media screen and (max-width: 1280px) {
  .footer__credit {
    font-size: 18px;
  }
}
@media screen and (max-width: 590px) {
  .footer__credit {
    text-align: center;
  }
}

.footer__header {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media screen and (max-width: 1280px) {
  .footer__header {
    font-size: 50px;
  }
}

.footer__a {
  font-size: 54px;
  font-weight: 300;
  text-decoration: none;
}
.footer__a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1280px) {
  .footer__a {
    font-size: 30px;
  }
}

.footer__hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  background-color: #fff;
  height: 3px;
}/*# sourceMappingURL=index.css.map */