$font-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
$margin-inline: 130px;
$margin-inline-md: 50px;
$margin-inline-sm: 20px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  margin-inline: auto;
  background-color: #d8f8ff;
}

button {
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}

h1,
h2,
h3,
p,
a,
li,
ul,
ol,
button,
input,
textarea,
blockquote,
table {
  font-family: "Oswald", sans-serif;
  color: #fff;
}

// NAVIGATION

// TODO: nav z-index over accordion

.nav {
  position: fixed;
  display: flex;
  width: 100%;
  max-width: 1920px;
  justify-content: space-between;
  z-index: 9;
  padding-top: 2rem;
  padding-inline: 2rem;

  @media screen and (max-width: 568px) {
    padding-top: 1rem;
    padding-inline: 1rem;
  }
}

.nav__logo {
  background-image: url("../assets/logo.svg");
  width: 68px;
  height: 72px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    background-image: url("../assets/logo-hover.svg");
  }

  @media screen and (max-width: 568px) {
    left: $margin-inline-sm;
  }
}

.nav__hamburger {
  width: 50px;
  height: 50px;
  background-color: transparent;
  top: 36px;
  right: 55px;
  z-index: 9;
  cursor: pointer;
  transform: rotate(360deg);
  transition: 150ms ease;

  &:hover {
    scale: 1.1;
    transition: 200ms;
  }

  &.close {
    transform: rotate(0deg);
    transition: 0ms;
  }

  @media screen and (max-width: 568px) {
    right: $margin-inline-sm;
  }
}

.hamburger__line {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  margin: 10px 0;
  border-radius: 20px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.30);

  &--line-one.close {
    transform: rotate(45deg);
    transform-origin: 7px 0;
    transition: 300ms ease;
    box-shadow: none;
  }

  &--line-two.close {
    background-color: transparent;
    box-shadow: none;
  }

  &--line-three.close {
    transform: rotate(-45deg);
    transform-origin: 0 2px;
    transition: 300ms ease;
    box-shadow: none;
  }
}

.nav__menu {
  position: absolute;
  top: 0;
  right: -100%;
  height: 100vh;
  transition: 300ms ease;
  width: fit-content;
  padding: 2rem;
  padding-top: 20vh;

  &.open {
    display: block;
    right: 0;
    background-color: rgba(0, 0, 0, 0.089);
    backdrop-filter: blur(10px);
    z-index: 8;
    transition: 300ms ease;
  }

  @media screen and (min-width: 1920px) {
    right: 0;
    display: none;
  }

  @media screen and (max-width: 568px) {
    width: 100%;
  }
}

.nav__link {
  font-size: 38px;
  font-weight: 300;
  cursor: pointer;
  margin-right: 50px;
  text-decoration: none;
  filter: drop-shadow($font-shadow);

  &:hover {
    text-decoration: underline;
  }

  @media (max-height: 500px) and (orientation: landscape) {
    font-size: 24px;
  }
}

// HEADER

.header {
  min-height: 100vh;
  background-image: url("../assets/header-bg-xxl.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: $margin-inline;
  position: relative;

  @media (min-aspect-ratio: 154/100) and (max-aspect-ratio: 172/100) {
    background-image: url("../assets/header-bg-xl.webp");
  }

  @media (min-aspect-ratio: 95/100) and (max-aspect-ratio: 154/100) {
    background-image: url("../assets/header-bg-lg.webp");
  }

  @media (min-aspect-ratio: 60/100) and (max-aspect-ratio: 95/100) {
    background-image: url("../assets/header-bg-md.webp");
  }

  @media (max-aspect-ratio: 60/100) {
    background-image: url("../assets/header-bg-sm.webp");
  }
}

.header__title {
  font-size: 110px;
  font-weight: 700;
  filter: drop-shadow($font-shadow);
  padding-top: 21%;
  padding-bottom: 10%;

  @media (min-aspect-ratio: 154/100) and (max-aspect-ratio: 172/100) {
    font-size: 90px;
  }

  @media (min-aspect-ratio: 95/100) and (max-aspect-ratio: 154/100) {
    padding-top: 30%;
    font-size: 70px;
  }

  @media (min-aspect-ratio: 60/100) and (max-aspect-ratio: 95/100) {
    font-size: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding-bottom: 20%;
  }

  @media (max-aspect-ratio: 60/100) {
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding-bottom: 35%;
  }

  @media (max-height: 500px) and (orientation: landscape) {
    font-size: 50px;
  }
}

// MAIN

.quote {
  text-align: center;
  padding: $margin-inline;
  background-image: url("../assets/orange-bg.webp");
  font-size: 64px;
  font-weight: 300;

  @media screen and (max-width: 1280px) {
    font-size: 48px;
  }

  @media screen and (max-width: 1080px) {
    padding: $margin-inline-md;
  }

  @media screen and (max-width: 590px) {
    font-size: 32px;
    padding-inline: $margin-inline-sm;
  }
}

.quote__author {
  margin-top: 10px;
}

// MEDITATION & CAROUSEL

.meditation {
  background-image: url("../assets/bonfire.webp");
  background-size: contain;
  background-repeat: repeat;
  background-position: center right;

  @media screen and (max-width: 1280px) {
    background-image: none;
  }
}

.meditation__container {
  background-image: url("../assets/blue-bg.webp");
  width: 60%;
  padding-inline: $margin-inline;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top-right-radius: 85px;
  border-bottom-right-radius: 85px;
  position: relative;
  min-height: 842px;

  @media screen and (max-width: 1280px) {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-height: fit-content;
  }

  @media screen and (max-width: 1080px) {
    padding-inline: $margin-inline-md;
  }

  @media screen and (max-width: 590px) {
    padding-inline: $margin-inline-sm;
  }
}

.meditation__heading {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;

  @media screen and (max-width: 1280px) {
    font-size: 50px;
  }
}

.meditation__carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: fit-content;
}

.meditation__inner {
  display: flex;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.meditation__slide {
  min-width: 100%;
}

.meditation__slide-heading {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 8px;

  @media screen and (max-width: 1280px) {
    font-size: 24px;
  }
}

.meditation__slide-text {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;

  @media screen and (max-width: 1280px) {
    font-size: 18px;
  }
}

.meditation__hr {
  color: #fff;
  background-color: #fff;
  height: 3px;
}

// accordion

.meditation__accordion {
  width: 100%;
  font-size: 20px;
}

.meditation__accordion-item {
  margin-bottom: 20px;
  border-radius: 30px;
}

.meditation__accordion-heading {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
  background-color: #0d4551;
  border-bottom: 3px solid #ddd;
  border-top-right-radius: 30px;

  &:hover {
    background-color: #041e24b4;
  }
}

.meditation__accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #0d4551;
  font-weight: 300;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.meditation__accordion-item p {
  padding: 10px;
  margin-bottom: 10px;

  @media screen and (max-width: 1280px) {
    font-size: 18px;
  }
}

.meditation__carousel-button {
  height: 83px;
  width: 21px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 10px;
  cursor: pointer;
  right: 30px;
  background-color: transparent;
  background-image: url("../assets/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 300ms ease;

  &.prev {
    background-image: url("../assets/arrow-left.svg");
  }

  &:hover {
    transform: translateY(-50%) scale(1.4);
  }
}

.meditation__image {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../assets/orange-bg.webp");

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

// SEZNAM AKCÍ
.events {
  background-image: url("../assets/orange-bg.webp");
  padding-inline: $margin-inline;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (max-width: 1080px) {
    padding-inline: $margin-inline-md;
  }

  @media screen and (max-width: 590px) {
    padding-inline: $margin-inline-sm;
  }
}

.events__heading {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 50px;

  @media screen and (max-width: 1280px) {
    font-size: 50px;
  }
}

.events__table {
  width: 100%;
  border-collapse: collapse;
  font-size: 36px;
  text-align: left;
  color: #fff;
  font-weight: 300;

  @media screen and (max-width: 1280px) {
    font-size: 24px;
  }
}

.events__header {
  padding: 10px 15px;
  font-weight: 500;

  &--hide {
    opacity: 0;
  }
}

.events__cell {
  padding: 10px 15px;

  &--bold {
    font-weight: 500;
  }
}

.events__row {
  &:not(:last-child) {
    border-bottom: 3px solid #fff;
  }
}

.events__tbody {
  .events__row:hover {
    background-color: #f1f1f14f;

    @media screen and (max-width: 768px) {
      background-color: transparent;
    }
  }
}

@media screen and (max-width: 768px) {
  .events__table,
  .events__thead,
  .events__tbody,
  .events__header,
  .events__cell,
  .events__row {
    display: block;
  }

  .events__thead {
    display: none;
  }

  .events__row {
    margin: 0 0 1rem 0;
  }

  .events__cell {
    border: none;
    border-bottom: 1px dotted #fff;
    position: relative;
    padding-left: 50%;
    text-align: right;

    &:first-child {
      padding-left: 0;
    }
  }

  .events__cell:not(:first-child):before {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(50% - 20px);
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    text-align: left;
    font-weight: 500;
  }
}

.events__button {
  background-color: #bf5841;
  border: 3px solid #fff;
  border-radius: 20px;
  color: #fff;
  font-size: 46px;
  font-weight: 500;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  text-transform: uppercase;
  align-self: flex-end;
  margin-top: 50px;
  padding: 10px 20px;

  &:hover {
    background-color: #fff;
    color: #bf5841;
    transition: 300ms ease;
  }

  &:active {
    transform: scale(0.95);
  }

  @media screen and (max-width: 1280px) {
    font-size: 30px;
  }

  @media screen and (max-width: 768px) {
    align-self: center;
    font-size: 24px;
  }
}

// ABOUT

.about {
  background-image: url("../assets/vrata-1280x357.webp");
  background-size: contain;

  @media screen and (max-width: 1920px) {
    background-image: url("../assets/vrata-1280x551.webp");
  }

  @media screen and (max-width: 1440px) {
    background-image: url("../assets/vrata-674.webp");
  }

  @media screen and (max-width: 1280px) {
    background-image: none;
  }
}

.about__container {
  background-image: url("../assets/blue-bg.webp");
  width: 50%;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-inline: $margin-inline;
  border-top-left-radius: 85px;
  border-bottom-left-radius: 85px;

  @media screen and (max-width: 1280px) {
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media screen and (max-width: 1080px) {
    padding: $margin-inline-md;
  }

  @media screen and (max-width: 590px) {
    padding-inline: $margin-inline-sm;
  }
}

.about__picture {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../assets/orange-bg.webp");

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (min-width: 1281px) {
    display: none;
  }
}

.about__header {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;

  @media screen and (max-width: 1280px) {
    font-size: 50px;
  }
}

.about__text {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;

  @media screen and (max-width: 1280px) {
    font-size: 18px;
  }
}

// KONTAKT

.footer {
  background-image: url("../assets/blue-bg.webp");
  padding-inline: $margin-inline;
  padding-bottom: 50px;
  padding-top: 50px;

  @media screen and (max-width: 1080px) {
    padding: $margin-inline-md;
  }

  @media screen and (max-width: 590px) {
    padding-inline: $margin-inline-sm;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 940px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (max-width: 590px) {
    align-items: center;
  }
}

.footer__credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 940px) {
    align-items: center;
  }
}

.footer__credit {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;

  @media screen and (max-width: 1280px) {
    font-size: 18px;
  }

  @media screen and (max-width: 590px) {
    text-align: center;
  }
}

.footer__header {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;

  @media screen and (max-width: 1280px) {
    font-size: 50px;
  }
}

.footer__a {
  font-size: 54px;
  font-weight: 300;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: 1280px) {
    font-size: 30px;
  }
}

.footer__hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  background-color: #fff;
  height: 3px;
}
