* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
button,
input,
textarea,
blockquote {
  font-family: "Oswald", sans-serif;
  color: #fff;
}

.font-h2 {
  font-size: 96px;
  font-weight: 700;
  text-transform: uppercase;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.font-h3 {
  font-size: 46px;
  font-weight: 600;
}

.header {
  min-height: 100vh;
  background-image: url("../assets/header-bg-xxl.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 130px;
  position: relative;
}
@media (min-aspect-ratio: 154/100) and (max-aspect-ratio: 172/100) {
  .header {
    background-image: url("../assets/header-bg-xl.webp");
  }
}
@media (min-aspect-ratio: 95/100) and (max-aspect-ratio: 154/100) {
  .header {
    background-image: url("../assets/header-bg-lg.webp");
  }
}
@media (min-aspect-ratio: 60/100) and (max-aspect-ratio: 95/100) {
  .header {
    background-image: url("../assets/header-bg-md.webp");
  }
}
@media (max-aspect-ratio: 60/100) {
  .header {
    background-image: url("../assets/header-bg-sm.webp");
  }
}

.header__logo {
  background-image: url("../assets/logo.svg");
  width: 68px;
  height: 72px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  left: 55px;
  top: 32px;
  z-index: 9;
}
.header__logo:hover {
  background-image: url("../assets/logo-hover.svg");
}
@media screen and (max-width: 568px) {
  .header__logo {
    left: 20px;
  }
}

.header__hamburger {
  width: 50px;
  height: 50px;
  background-color: transparent;
  top: 36px;
  right: 55px;
  z-index: 9;
  position: fixed;
  cursor: pointer;
  transform: rotate(360deg);
  transition: 150ms ease;
}
.header__hamburger.close {
  transform: rotate(0deg);
  transition: 0ms;
}
@media screen and (max-width: 568px) {
  .header__hamburger {
    right: 20px;
  }
}

.hamburger__line {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  margin: 10px 0;
  border-radius: 20px;
}
.hamburger__line.line-one.close {
  transform: rotate(45deg);
  transform-origin: 7px 0;
  transition: 150ms ease;
}
.hamburger__line.line-two.close {
  background-color: transparent;
}
.hamburger__line.line-three.close {
  transform: rotate(-45deg);
  transform-origin: 0 0;
  transition: 150ms ease;
}

.header__nav {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  transition: 300ms ease;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  padding-top: 20vh;
}
@media screen and (max-width: 568px) {
  .header__nav {
    width: 100%;
  }
}
.header__nav.open {
  display: block;
  right: 0;
  background-color: rgba(0, 0, 0, 0.089);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 8;
  transition: 150ms ease;
}

.header__title {
  font-size: 110px;
  font-weight: 700;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  padding-top: 21%;
  padding-bottom: 10%;
}
@media (min-aspect-ratio: 154/100) and (max-aspect-ratio: 172/100) {
  .header__title {
    font-size: 90px;
  }
}
@media (min-aspect-ratio: 95/100) and (max-aspect-ratio: 154/100) {
  .header__title {
    padding-top: 30%;
    font-size: 70px;
  }
}
@media (min-aspect-ratio: 60/100) and (max-aspect-ratio: 95/100) {
  .header__title {
    font-size: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding-bottom: 20%;
  }
}
@media (max-aspect-ratio: 60/100) {
  .header__title {
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding-bottom: 35%;
  }
}
@media (max-height: 500px) and (orientation: landscape) {
  .header__title {
    font-size: 50px;
  }
}

.header__nav-link {
  font-size: 38px;
  font-weight: 300;
  cursor: pointer;
  margin-right: 50px;
  text-decoration: none;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.header__nav-link:hover {
  text-decoration: underline;
}
@media (max-height: 500px) and (orientation: landscape) {
  .header__nav-link {
    font-size: 24px;
  }
}

.quote {
  padding: 130px;
  background-image: url("../assets/orange-bg.webp");
  font-size: 64px;
  font-weight: 300;
}
@media screen and (max-width: 1280px) {
  .quote {
    font-size: 48px;
  }
}
@media screen and (max-width: 1080px) {
  .quote {
    padding: 50px;
  }
}
@media screen and (max-width: 590px) {
  .quote {
    font-size: 32px;
    padding-inline: 20px;
  }
}

.quote__author {
  margin-top: 10px;
}

.meditation {
  background-image: url("../assets/bonfire.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

.meditation-container {
  background-image: url("../assets/blue-bg.webp");
  width: 60%;
  padding-inline: 130px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top-right-radius: 85px;
  border-bottom-right-radius: 85px;
  position: relative;
}

.meditation-header {
  font-size: 96px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: -moz-fit-content;
  height: fit-content;
}

.carousel-header {
  font-size: 46px;
  font-weight: 500;
  margin-bottom: 14px;
}

.carousel-text {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 23px;
}

.carousel-hr {
  color: #fff;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.carousel-slide {
  min-width: 100%;
}

.carousel-button {
  height: 83px;
  width: 21px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  right: 30px;
  background-color: transparent;
  background-image: url("../assets/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 300ms ease;
}
.carousel-button.prev {
  background-image: url("../assets/arrow-left.svg");
}
.carousel-button:hover {
  transform: translateY(-50%) scale(1.4);
}

.accordion {
  width: 100%;
  font-size: 20px;
}

.accordion-item {
  margin-bottom: 20px;
  border-radius: 30px;
}

.accordion-header {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
  background-color: #0D4551;
  border-bottom: 1px solid #ddd;
  border-top-right-radius: 30px;
}

.accordion-header:hover {
  background-color: rgba(4, 30, 36, 0.7058823529);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #0D4551;
  font-weight: 300;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.accordion-content p {
  padding: 10px;
  margin-bottom: 10px;
}/*# sourceMappingURL=index.css.map */